<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <title>@name's Portfolio </title>
      :font
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen">
      <script src="@root_path/public/docs/js/droit-font.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
<!--    <div id="job-banner">@status</div>-->
    <div id="container">
      <div id="header">
        <h1 class="col three">
          <a href="@root_path">@name</a>
          <strong>@profession</strong>
        </h1>
        <em id="subtitle" class="col four">@email</em>
          <br>
          <em id="subtitle" class="col four">:pdfs</em>
      </div>
      foreach $images do
       <div id="image-front">
         <img src="@url" alt="@title" width="@width" height="@height">
       </div>
       endforeach
    

      <hr>
        :navigation
      <div id="content" class="col seven">
        :category-lists
      </div>
        
      <hr>
      <p id="footer" class="col six">&copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/?/feed/">RSS</a><br>
        </p>
    </div>
  </body>
</html>